<div
  class="flex flex-col items-center justify-center min-h-screen bg-cover bg-center"
  style="background-image: url('fondo.png');"
>
  <!-- Logo -->
  <img src="logo-render.png" alt="Logo" class="w-32 mb-6" />

  <!-- Formulario de Correo Electrónico -->
  <div
    *ngIf="showEmailForm"
    class="bg-white/70 backdrop-blur-md shadow-lg rounded-lg px-12 py-8 w-11/12 max-w-4xl"
  >
    <h1 class="text-2xl font-bold text-deepBlue text-center mb-4">Recuperar contraseña</h1>
    <p class="text-center text-[#4A3C9E] mb-6">
      Ingresa tu dirección de correo electrónico para restablecer tu contraseña
    </p>
    <div class="mb-6">
      <label for="email" class="sr-only">E-mail</label>
      <input
        type="email"
        id="email"
        placeholder="E-mail"
        [(ngModel)]="email"
        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring focus:ring-orange-300 shadow-md"
      />
      <!-- Mensaje de error -->
      <p *ngIf="errorMessage" class="text-red-500 text-sm mt-2">
        {{ errorMessage }}
      </p>
    </div>
    <button
      type="button"
      (click)="onSubmit()"
      class="w-full bg-orange-500 text-white py-3 rounded-lg font-semibold hover:bg-orange-600 transition"
    >
      Siguiente
    </button>
  </div>

  <!-- Formulario de Código de Verificación -->
  <div
    *ngIf="showVerificationForm"
    class="bg-white rounded-lg shadow-lg p-8 w-11/12 max-w-md relative"
  >
    <h2 class="text-2xl font-bold text-deepBlue text-center mb-4">
      Recuperar contraseña
    </h2>
    <p class="text-center text-[#4A3C9E] mb-6">
      Hemos enviado un código de verificación a su correo electrónico
    </p>
    <div class="mb-6">
      <label for="verificationCode" class="sr-only">Código de verificación</label>
      <input
        type="text"
        id="verificationCode"
        placeholder="Código de verificación"
        [(ngModel)]="verificationCode"
        [ngClass]="{ 'border-red-500': verificationError }"
        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring focus:ring-orange-300 shadow-md"
      />
      <p *ngIf="verificationError" class="text-red-500 text-sm mt-2">
        Código de verificación incorrecto
      </p>
    </div>
    <button
      type="button"
      (click)="onVerifyCode()"
      class="w-full bg-orange-500 text-white py-3 rounded-lg font-semibold hover:bg-orange-600 transition"
    >
      Verificar
    </button>
    <button
      type="button"
      (click)="closeModal()"
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-700"
    >
      ✕
    </button>
  </div>