<div class="flex flex-col md:flex-row min-h-screen">
  <!-- Sidebar -->
  <aside class="w-full md:w-64 bg-aqua text-blue-900 p-6">
    <div class="flex flex-col items-center">
      <img src="logo-render.png" alt="Logo" class="h-20 w-auto mb-4">
    </div>
    <nav class="space-y-4">
      <!-- Doctores -->
      <a
        routerLink="add-doc"
        [ngClass]="{ 'bg-deepBlue text-white': isActiveRoute('/admin-home/add-doc') }"
        class="block py-2 px-4 rounded-lg hover:bg-deepBlue hover:text-white transition"
      >
        Doctores
      </a>
    
      <!-- Lista de Citas -->
      <a
        routerLink="list-citas"
        [ngClass]="{ 'bg-deepBlue text-white': isActiveRoute('/admin-home/list-citas') }"
        class="block py-2 px-4 rounded-lg hover:bg-deepBlue hover:text-white transition"
      >
        Lista de Citas
      </a>
    
      <!-- Lista de Usuarios -->
      <a
        routerLink="list-users"
        [ngClass]="{ 'bg-deepBlue text-white': isActiveRoute('/admin-home/list-users') }"
        class="block py-2 px-4 rounded-lg hover:bg-deepBlue hover:text-white transition"
      >
        Lista de Usuarios
      </a>
    </nav>
           
  </aside>

  <!-- Contenido Principal -->
  <main class="flex-grow p-6">
    <router-outlet></router-outlet>
  </main>
</div>
