<div class="flex flex-col md:flex-row min-h-screen"  style="background-image: url('/fondo-noazul.png');">
  
  <!-- Sidebar -->
  <!-- <aside class="w-full md:w-64 bg-aqua text-blue-900 p-6">
    <div class="flex flex-col items-center">
      <img src="logo-render.png" alt="Logo" class="h-20 w-auto mb-4">
    </div>
    <nav class="space-y-4">
      <a
        routerLink="add-doc"
        [ngClass]="{ 'bg-deepBlue text-white': isActiveRoute('/admin-home/add-doc') }"
        class="block py-2 px-4 rounded-lg hover:bg-deepBlue hover:text-white transition"
      >
        Doctores
      </a>
      <a
        routerLink="list-citas"
        [ngClass]="{ 'bg-deepBlue text-white': isActiveRoute('/admin-home/list-citas') }"
        class="block py-2 px-4 rounded-lg hover:bg-deepBlue hover:text-white transition"
      >
      </a>
    
      <a
        routerLink="rentabilidad"
        [ngClass]="{ 'bg-deepBlue text-white': isActiveRoute('/admin-home/rentabilidad') }"
        class="block py-2 px-4 rounded-lg hover:bg-deepBlue hover:text-white transition"
      >
      </a>
    </nav>
   <div class="mt-auto pt-6 border-t border-gray-300">
    <button (click)="logout()" class="block w-full py-2 px-4 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600">Logout</button>
    <p class="text-center mt-4 text-sm text-gray-600">Centro Médico 2024</p>
  </div>
</aside> -->

<app-sidebar [options]="menuOptions" [userType]="userType"></app-sidebar>

  <!-- Contenido Principal -->
  <main class="flex-grow p-6">
    <router-outlet></router-outlet>
  </main>
</div>
