<div
  class="flex flex-col items-center justify-center min-h-screen bg-cover bg-center"
  style="background-image: url('fondo.png');"
>
  <img src="logo-render.png" alt="Logo" class="w-32 mb-6" />
  <div class="bg-white/70 backdrop-blur-md shadow-lg rounded-lg px-12 py-8 w-11/12 max-w-4xl">
    <h1 class="text-2xl font-bold text-deepBlue text-center mb-4">Recuperar contraseña</h1>
    <p class="text-center text-[#4A3C9E] mb-6">Ingresa tu nueva contraseña y confírmala</p>
    <div class="mb-6">
      <label for="newPassword" class="sr-only">Nueva contraseña</label>
      <input
        type="password"
        id="newPassword"
        placeholder="Nueva contraseña"
        [(ngModel)]="newPassword"
        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring focus:ring-orange-300 shadow-md"
      />
    </div>
    <div class="mb-6">
      <label for="confirmPassword" class="sr-only">Confirmar contraseña</label>
      <input
        type="password"
        id="confirmPassword"
        placeholder="Confirmar contraseña"
        [(ngModel)]="confirmPassword"
        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring focus:ring-orange-300 shadow-md"
      />
      <p *ngIf="passwordError" class="text-red-500 text-sm mt-2">
        {{ passwordError }}
      </p>
    </div>
    <button
      type="button"
      (click)="onSubmitPasswordChange()"
      class="w-full bg-orange-500 text-white py-3 rounded-lg font-semibold hover:bg-orange-600 transition"
    >
      Guardar contraseña
    </button>
  </div>
</div>
