
<div class="bg-gray-100 h-screen">
  <div class="flex flex-col md:flex-row min-h-screen" style="background-image: url('/fondo-noazul.png');">
     <!-- Sidebar -->
 <aside class="w-64 min-h-screen bg-aqua text-blue-900 p-6 flex flex-col justify-between h-full">
  <div class="flex flex-col items-center">
    <img src="logo-render.png" alt="Logo VidaPlena" class="h-30 w-100 mb-6 brightness-90">
  </div>
  <nav class="space-y-4">
    <button (click)="PatientHome()" class="block w-full text-left py-2 px-4 rounded hover:bg-blue-300 focus:outline-nonee">
      Inicio
    </button>
    <button (click)="PidetuCita()" class="block w-full text-left py-2 px-4 rounded hover:bg-blue-300 focus:outline-nonee">
      Pide tu Cita
    </button>
    <button (click)="MisCitas()"class="block w-full text-left py-2 px-4 rounded hover:bg-blue-300 focus:outline-nonee">
      Mis Citas
    </button>
    <button (click)="MiCuenta()"class="block w-full text-left py-2 px-4 rounded bg-blue-900 text-white hover:bg-deepBlue focus:outline-none">
      Mi cuenta
    </button>
  </nav>
  <div class="mt-auto pt-6 border-t border-gray-300">
    <button (click)="logout()" class="block w-full py-2 px-4 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600">Logout</button>
    <p class="text-center mt-3 text-sm text-gray-600">Centro Médico 2024</p>
  </div>
  </aside>

<!-- Contenido Principal -->
<main class="flex-1 p-5">
<div class="w-full bg-white bg-opacity-90 p-8 rounded-lg shadow-lg">
<div class="bg-blue-900 text-white text-center py-4 rounded-md mb-4">
  <h1 class="text-2xl font-bold">MI CUENTA</h1>
</div>

<!-- Formulario -->
<form class="grid grid-cols-12 gap-y-2 gap-x-6">
  <!-- Tipo de documento -->
  <div class="col-span-4">
    <label class="block text-sm font-medium text-gray-600">Tipo de documento</label>
    <input type="text" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="DNI">
  </div>
  <!-- N° DNI -->
  <div class="col-span-4">
    <label class="block text-sm font-medium text-gray-600">N° DNI</label>
    <input type="text" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="xxxxxxxx">
  </div>
  <!-- Sexo -->
  <div class="col-span-4">
    <label class="block text-sm font-medium text-gray-600">Sexo</label>
    <select class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900">
      <option>Masculino</option>
      <option>Femenino</option>
    </select>
  </div>
  <!-- Nombres -->
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-600">Nombres</label>
    <input type="text" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="xxxxxxxxx">
  </div>
  <!-- Apellidos -->
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-600">Apellidos</label>
    <input type="text" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="xxxxxxxxx">
  </div>
  <!-- Fecha de nacimiento -->
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-600">Fecha de Nacimiento</label>
    <input type="date" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="1998-04-27">
  </div>
  <!-- Email -->
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-600">E-mail</label>
    <input type="email" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="xxxxxxxxxx">
  </div>
  <!-- Distrito -->
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-600">Distrito</label>
    <select class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900">
      <option>Ancón</option>
    </select>
  </div>
  <!-- Provincia -->
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-600">Provincia</label>
    <select class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900">
      <option>Lima Metropolitana</option>
    </select>
  </div>
  <!-- Dirección -->
  <div class="col-span-12">
    <label class="block text-sm font-medium text-gray-600">Dirección</label>
    <input type="text" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="xxxxxxxxxx">
  </div>
  <!-- Botones -->
  <div class="col-span-12 flex justify-center mt-2">
    <button type="button" class="bg-blue-900 text-white px-8 py-2 rounded-md shadow-md">Actualizar Datos</button>
  </div>

  <!-- Contraseñas -->
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-600">Contraseña nueva</label>
    <input type="text" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="xxxxxxxxx">
  </div>
  <div class="col-span-6">
    <label class="block text-sm font-medium text-gray-600">Confirmar contraseña nueva</label>
    <input type="text" class="mt-1 block w-full rounded-md border-2 border-blue-900 bg-gray-200 text-gray-600 shadow-sm focus:outline-none focus:border-blue-900" value="xxxxxxxxx">
  </div>
  <!-- Botón para contraseñas -->
  <div class="col-span-12 flex justify-center mt-2">
    <button type="button" class="bg-blue-900 text-white px-8 py-2 rounded-md shadow-md">Actualizar Contraseña</button>
  </div>
</form>
</div>