<div class="flex h-screen bg-cover bg-center" style="background-image: url('/fondo.png');">
  <!-- Capa semitransparente para mejorar la legibilidad -->
  <div [class.blur]="showModal" class="flex h-full w-full">
    
    <!-- Logo y espacio en blanco -->
    <div class="w-1/2 flex flex-col items-center justify-center">
      <img src="/logo-render.png" alt="Logo Clínica" class="w-100 mb-4" />
      <p class="text-deepBlue text-lg font-semibold text-center ">NACIMOS PARA CUIDARTE DE<br> MODO INTEGRAL</p>
    </div>

    <!-- Sección de formulario de login -->
    <div class="w-1/2 flex items-center justify-center relative">
      <div class="bg-white p-10 rounded-lg shadow-md w-100">
        <h2 class="text-deepBlue text-4xl font-bold mb-6 text-center">Iniciar Sesión</h2>
        <form>
          <!-- Campo de Usuario -->
          <input [(ngModel)]="user.username"
            name="usuario"
            type="text"
            placeholder="Usuario"
            class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#53CDE2]"
          />
          <!-- Campo de Contraseña -->
          <input [(ngModel)]="user.password"
            name="password"
            type="password"
            placeholder="Contraseña"
            class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#53CDE2]"
          />
          <!-- Link de Olvidé mi contraseña -->
          <a href="#" class="text-sm text-gray-600 hover:underline mb-4 block text-center">Olvidé mi contraseña</a>
          <!-- Botón de Ingresar -->
          <button (click)="login($event)"
            type="submit"
            class="w-full py-2 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600 transition duration-300"
          >
            Ingresar
          </button>
          <!-- Link de Crear cuenta -->
          <a (click)="loginToRegister()" class="text-sm text-gray-600 hover:underline block text-center mt-4 cursor-pointer">Crear cuenta</a>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal de aviso -->
  <div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="relative bg-white p-6 rounded-lg shadow-lg w-100 text-center border-2">
      <button (click)="closeModal()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-800 font-bold text-lg">X</button>
      <!-- Ícono en la parte superior del modal -->
      <div class="flex justify-center mb-4">
        <img src="/icono-advertencia.png" alt="Icono de advertencia" class="w-20 h-20"> <!-- Cambia el path según tu icono -->
      </div>
      <!-- Título del modal -->
      <h3 class="text-2xl font-semibold text-red-500 mb-4">Cuenta Bloqueada</h3>
      <!-- Mensaje del modal -->
      <p class="text-gray-700 mb-6">Has superado los 3 intentos. Por favor, inténtalo de nuevo más tarde.</p>
      <!-- Botón de cerrar -->
      <button (click)="closeModal()" class="px-4 py-2 bg-yellow-500 hover:bg-yellow-600 text-white rounded-lg">Cerrar</button>
    </div>
  </div>
</div>
