<div class="flex flex-col md:flex-row min-h-screen"  style="background-image: url('/fondo-noazul.png');">
  <!-- Sidebar -->
  <aside class="w-64 bg-aqua text-blue-900 p-6">
    <div class="flex flex-col items-center">
      <img
        src="logo-render.png"
        alt="Logo de VidaPlena"
        class="h-30 w-100 mb-6 brightness-90"
      />
    </div>
    <nav class="space-y-4">
      <button (click)="doctor_home()"
        class="block w-full text-left py-2 px-4 rounded-lg text-blue-900 hover:bg-blue-300 focus:outline-none"
      >
        Inicio
      </button>
      <button (click)="citas()"
        class="block w-full text-left py-2 px-4 rounded  focus:outline-none"
      >
        Citas
      </button>
      <button
        class="block w-full text-left py-2 px-4 rounded bg-blue-900 text-white hover:bg-deepBlue focus:outline-none"
      >
        Historial Clinico
      </button>
      <button
        (click)="cuenta()"
        class="block w-full text-left py-2 px-4 rounded focus:outline-none"
      >
        Mi cuenta
      </button>
    </nav>
    <div class="mt-auto pt-6 border-t border-gray-300">
      <button
        class="block w-full py-2 px-4 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600"
      >
        Logout
      </button>
      <p class="text-center mt-4 text-sm text-gray-600">Centro Médico 2024</p>
    </div>
  </aside>
  <!-- Main content -->
  <main class="flex-1 p-8">
    <div class="bg-white rounded-lg shadow p-6">
      <!-- Encabezado -->
      <div class="bg-blue-900 text-white p-4 rounded-lg shadow-md mb-5">
        <h2 class="text-2xl font-bold text-center uppercase">Antecedentes médicos</h2>
      </div>
      <!-- Filtro por año -->
      <div class="mb-6 flex items-center space-x-4">
        <label for="year" class="text-blue-900 font-semibold">DNI</label>
        <input
          type="text"
          id="year"
          class="border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-300 w-1/4"
          placeholder=""
        />
        <button
          class="px-4 py-2 bg-blue-900 text-white font-semibold rounded hover:bg-deepBlue focus:ring-2 focus:ring-blue-300"
        >
          Buscar
        </button>
      </div>
      <!-- Tabla de Antecedentes -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <table class="w-full text-left border-collapse">
          <thead>
            <tr class="bg-[#005792] text-white text-center">
              <th class="p-4">N°</th>
              <th class="p-4">DNI</th>
              <th class="p-4">Nombres</th>
              <th class="p-4">Apellidos</th>
              <th class="p-4">Médico</th>
              <th class="p-4">Fecha de registro</th>
              <th class="p-4">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="bg-[var(--color-bg-light)] hover:bg-[#80DDDB] text-center"
            >
              <td class="px-4 py-2 border ">1</td>
              <td class="px-4 py-2 border ">7872621</td>
              <td class="px-4 py-2 border ">
                Juan Antonio
              </td>
              <td class="px-4 py-2 border ">
                Santos Madrid
              </td>
              <td
                class="px-4 py-2 border"
              >
                Ronald Estrada
              </td>
              <td class="px-4 py-2 border ">17-11-2024</td>
              <td class="px-4 py-2 border cursor-pointer text-blue-900">Ver</td>
            </tr>
            <tr
              class="bg-[var(--color-bg-light)] hover:bg-[#80DDDB] text-center"
            >
              <td class="px-4 py-2 border ">2</td>
              <td class="px-4 py-2 border ">7872621</td>
              <td class="px-4 py-2 border ">
                Juan Antonio
              </td>
              <td class="px-4 py-2 border ">
                Santos Madrid
              </td>
              <td
                class="px-4 py-2 border"
              >
                Ronald Estrada
              </td>
              <td class="px-4 py-2 border ">17-11-2024</td>
              <td class="px-4 py-2 border cursor-pointer text-blue-900">Ver</td>
            </tr>
            <tr
              class="bg-[var(--color-bg-light)] hover:bg-[#80DDDB] text-center"
            >
              <td class="px-4 py-2 border ">3</td>
              <td class="px-4 py-2 border ">7872621</td>
              <td class="px-4 py-2 border ">
                Juan Antonio
              </td>
              <td class="px-4 py-2 border ">
                Santos Madrid
              </td>
              <td
                class="px-4 py-2 border"
              >
                Ronald Estrada
              </td>
              <td class="px-4 py-2 border ">17-11-2024</td>
              <td class="px-4 py-2 border cursor-pointer text-blue-900">Ver</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
