<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <style>
  </style>
</head>
<body>
  <div class="flex h-screen bg-cover bg-center" style="background-image: url('/fondo.png');">
    <div class="flex h-full w-full">
      
      <!-- Sección del logo y texto -->
      <div class="w-1/2 flex flex-col items-center justify-center">
        <img src="/logo-render.png" alt="IPS VidaPlena Logo" class="w-100 mb-4">
        <p class="text-deepBlue text-lg font-semibold text-center">NACIMOS PARA CUIDARTE DE<br> MODO INTEGRAL</p>
      </div>

      <!-- Sección de formulario de registro -->
      <div class="w-1/2 flex items-center justify-center">
        <div class="bg-white p-10 rounded-lg shadow-md w-100">
          <h2 class="text-deepBlue text-4xl font-bold mb-6">Registro</h2>
          <form (submit)="onRegister()">
            <!-- Campo de DNI y Fecha de Nacimiento en una sola fila -->
            <div class="mb-4 flex">
              <div class="w-1/2 mr-2 relative">
                <input type="text" placeholder="DNI" [(ngModel)]="user.dni" name="dni" class="pl-10 mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="fas fa-id-card text-gray-500"></i>
                </span>
              </div>
              <div class="w-1/2 ml-2 relative">
                <input type="date" placeholder="día/mes/año" [(ngModel)]="user.birthDate" name="birthDate" class="Spl-10 mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <i class="fas fa-calendar-alt text-gray-500"></i>
                </span>
              </div>
            </div>

            <!-- Campos de Nombres y Apellidos -->
            <div class="relative mb-4">
              <input type="text" placeholder="Nombres" [(ngModel)]="user.name" name="name" class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-user text-gray-500"></i>
              </span>
            </div>
            <div class="relative mb-4">
              <input type="text" placeholder="Apellidos" [(ngModel)]="user.lastName" name="lastName" class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-user text-gray-500"></i>
              </span>
            </div>

            <!-- Campo de Dirección -->
            <div class="relative mb-4">
              <input type="text" placeholder="Dirección" [(ngModel)]="user.direction" name="direction" class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-map-marker-alt text-gray-500"></i>
              </span>
            </div>

            <!-- Campo de Teléfono y Género en una sola fila -->
            <div class="mb-4 flex">
              <div class="w-1/2 mr-2 relative">
                <input type="text" placeholder="Teléfono" [(ngModel)]="user.phone" name="phone" class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="fas fa-phone text-gray-500"></i>
                </span>
              </div>
              <div class="w-1/2 ml-2 relative">
                <select [(ngModel)]="user.genderId" name="genderId" class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue text-gray-400">
                  <option value="" disabled selected class="text-gray-400">Género</option>
                  <option value="1" class="text-gray-700">Masculino</option>
                  <option value="2" class="text-gray-700">Femenino</option>
                  <option value="3" class="text-gray-700">Otros</option>
                </select>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="fas fa-venus-mars text-gray-500"></i>
                </span>
              </div>
            </div>
            
            <!-- Campo de Usuario -->
            <div class="relative mb-4">
              <input type="text" placeholder="Username" [(ngModel)]="user.username" name="username" class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-user text-gray-500"></i>
              </span>
            </div>
            
            <!-- Campo de Email -->
            <div class="relative mb-4">
              <input type="email" placeholder="E-mail" [(ngModel)]="user.email" name="email" class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-envelope text-gray-500"></i>
              </span>
            </div>
            
            <!-- Campo de Contraseña -->
            <div class="relative mb-4">
              <input type="password" placeholder="Contraseña" [(ngModel)]="user.password" name="password" class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-lock text-gray-500"></i>
              </span>
            </div>
            
            <!-- Campo de Confirmar Contraseña -->
            <div class="relative mb-6">
              <input type="password" placeholder="Confirmar Contraseña" class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-skyBlue focus:border-deepBlue">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-lock text-gray-500"></i>
              </span>
            </div>
            
            <!-- Botón de Registrar -->
            <button type="submit" class="w-full py-2 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600 transition duration-300">
              Registrar
            </button>
            
            <!-- Link de Iniciar Sesión -->
            <a (click)="backToLogin()" class="text-sm text-gray-600 hover:underline block text-center mt-4 cursor-pointer">¿Ya tienes una cuenta? Inicia sesión</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
