
<div class="flex min-h-screen bg-gray-100">
    <!-- Sidebar -->
    <aside class="w-64 bg-aqua text-blue-900 p-6">
      <div class="flex flex-col items-center">
        <img src="logo-render.png" alt="Logo de VidaPlena" class="h-30 w-100 mb-6 brightness-90">
  
      </div>
      <nav class="space-y-4">
        <button class="block w-full text-left py-2 px-4 rounded-lg text-blue-900 hover:bg-blue-300 focus:outline-none">
          Inicio
        </button>
        <button class="block w-full text-left py-2 px-4 rounded bg-deepBlue text-white hover:bg-blue-900 focus:outline-none">
          Citas
        </button>
        <button (click)="agenda()" class="block w-full text-left py-2 px-4 rounded">
          Agenda
        </button>
        <button class="block w-full text-left py-2 px-4 rounded focus:outline-none">
          Orden médica
        </button>
        <button (click)="cuenta()" class="block w-full text-left py-2 px-4 rounded hover:bg-blue-300 focus:outline-none">
          Mi cuenta
        </button>
      </nav>
      <div class="mt-auto pt-6 border-t border-gray-300">
        <button (click)="regreso()" class="block w-full py-2 px-4 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600">Logout</button>
        <p class="text-center mt-4 text-sm text-gray-600">Centro Médico 2024</p>
      </div>
    </aside>
  
    <!-- Contenido principal: Componente Appointments -->
    <!-- Main Content -->
    <!-- Contenido principal -->
    <main class="flex-1 p-8">
      <!-- Encabezado -->
      <header class="mb-8">
        <h2 class="text-3xl font-bold text-[#005792]">Citas</h2>
      </header>
  
      <!-- Formulario de búsqueda -->
      <div class="bg-white p-6 rounded-lg shadow-lg mb-6">
        <form class="grid grid-cols-5 gap-4">
          <input type="text" placeholder="DNI" class="border rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-[#53CDE2]" />
          <input type="text" placeholder="Paciente" class="border rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-[#53CDE2]" />
          <input type="date" class="border rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-[#53CDE2]" />
          <select class="border rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-[#53CDE2]">
            <option value="">Estado</option>
            <option value="atendido">Atendido</option>
            <option value="en espera">En Espera</option>
          </select>
          <button class="bg-[#005792] text-white rounded-lg px-4 py-2 hover:bg-[#53CDE2]">Buscar</button>
        </form>
      </div>
  
      <!-- Tabla de citas -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <table class="w-full text-left border-collapse">
          <thead>
            <tr class="bg-[#005792] text-white">
              <th class="p-4">DNI</th>
              <th class="p-4">Nombre</th>
              <th class="p-4">Fecha</th>
              <th class="p-4">Especialidad</th>
              <th class="p-4">Estado</th>
              <th class="p-4">Perfil Clínico</th>
              <th class="p-4">Receta</th>
            </tr>
          </thead>
          <tbody>
            <tr class="even:bg-[#EDF9FC] hover:bg-[#80DDDB]">
              <td class="p-4">080526987</td>
              <td class="p-4">Julio Cesar Medrano Ossco</td>
              <td class="p-4">20/09/24</td>
              <td class="p-4">Psicología</td>
              <td class="p-4">Atendido</td>
              <td class="p-4 text-center align-middle">
                <button class="bg-[#005792] text-white px-6 py-2 rounded-lg text-base hover:bg-[#53CDE2]">
                  Ver
                </button>
              </td>
              <td class="p-4 text-center align-middle">
                <button class="bg-[#005792] text-white px-6 py-2 rounded-lg text-base hover:bg-[#53CDE2]">
                  Ver
                </button>
              </td>
            </tr>
            <tr class="even:bg-[#EDF9FC] hover:bg-[#80DDDB]">
              <td class="p-4">080526987</td>
              <td class="p-4">Julio Cesar Medrano Ossco</td>
              <td class="p-4">30/09/24</td>
              <td class="p-4">Psicología</td>
              <td class="p-4">Atendido</td>
              <td class="p-4 text-center align-middle">
                <button class="bg-[#005792] text-white px-6 py-2 rounded-lg text-base hover:bg-[#53CDE2]">
                  Ver
                </button>
              </td>
              <td class="p-4 text-center align-middle">
                <button class="bg-[#005792] text-white px-6 py-2 rounded-lg text-base hover:bg-[#53CDE2]">
                  Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    </div>
  